// Color assignments
@font-color: @shark;
@button-bg: @eastern-blue;
@main-bg: @white;
@navigation-border: @silver;
@footer-bg: @sandy-beach;

// Colors
@white: #ffffff;
@silver: #c0c0c0;
@shark: #212529;
@eastern-blue: #17a2b8;
@sandy-beach: #ffebcd;

@mobile: ~"(max-width: 500px)";




.container {


  .content-pick {
    width: 100%;
    background: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .destination {
      width: 100%;
      margin: 0;
      padding: 0;
      vertical-align: baseline;
      background: yellow;

      .btn {
        padding: 15px 10px;
        border-radius: 10px;
        width: 100%;
      }

    }
  }
}